/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
  --Font1: 'Poppins', sans-serif;
  --Font2: 'Roboto', sans-serif;
  --Font3: 'Inter', sans-serif;

  --color1: #832121;
  --color2: white;
  --color3: rgb(107, 21, 21);
}
body{
  overflow-x: hidden;
  background-color: #E4E9F7;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Font1);
}
.table.dataTable th {
  background-color: unset;
  border-bottom: #fff;
 }
 tr.even td {
  background-color: unset;
 }
 tr.odd td {
  background-color: unset;
 }
 
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: var(--color3);
  z-index: 100;
  transition: all 0.5s ease;
}

.sidebar.close{
  width: 78px;
}

.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: .5em;
  
}

.sidebar .logo-details img{
  width: 100px;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  
}

.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar.close .logo-details img{
  width: 50px;
  
}


.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links{
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}

.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.2s ease;
}

.sidebar .nav-links li:hover{
  background-color: rgb(90, 13, 13);
}
.sidebar .nav-links li.active{
  background-color: rgb(90, 13, 13);
}

.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link{
  display: block
}

.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}


.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow{
  display: none;
}

.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name{
  font-size: .9rem;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}


.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background-color: rgb(90, 13, 13);
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}

.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: .8rem;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}



.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: .9rem;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}


.home-section{
  position: relative;
  background: #E4E9F7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: var(--color3);
  font-size: 30px;
}

.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}

.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}

.main-container{
  width: 100%;
  height: 100%;

  position: relative;
}

.content{
  width: 100%;
  height: 100%;
  padding-top: 3.5em;

  position: absolute;
  display: none;
}

.content.active{
  display: block;
}

.div-content{
  width: 100%;
  height: 100%;
  padding: 1em;
}
.title-head{
  font-weight: 800;
  color: var(--color1);
}

.Pages{
  margin-top: 1em;
}

.Pages::before{
  content: 'Pages';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1em;
  left: 3em;
  color: white;
  font-size: .5rem;

}

/* ------------------------------DASHBOARD PAGE------------------------------ */
.cont-dash p,
.cont-dash i,
.cont-dash h1,
.cont-dash hr{
  color: var(--color1);
}






/* ------------------------------CUSTOMER PAGE------------------------------ */
i.req{
  color: red;
}
.tbl-header {
  background-color: var(--color1);
}
.modal-footer{
  justify-content: center;
}
.add-customer{
  margin-left: auto;
}
.modal-header{
  background-color: var(--color1);
  color: white;
  padding:9px 15px;
}
/* ------------------------------BLOCK AND LOT PAGE------------------------------ */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-top: 2px solid;
    border-color: var(--color1) #dee2e6 #fff !important;
}
.nav-link {
  align-items: left;
  justify-content: center;
  color: rgba(21, 21, 21, 0.774);
}
.nav-link.active {
  color: rgba(0, 0, 0, 0.774) !important;
  font-weight: 500;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}
/* ------------------------------GRAVE MAP PAGE------------------------------ */
.btn-view-location{
  background-color: var(--color1) !important;
  border: none !important;
}
.map-wrapper {
  position: relative;
}
.whole-map{
  width: 100%;
  max-width: 100%;
}
.map-sites {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  /* text-align: center; */
}
.btn-Joy-A:hover, .btn-Joy-B:hover, .btn-Joy-C:hover, .btn-Joy-D:hover, .btn-Peace-A:hover, .btn-Peace-B:hover, .btn-Peace-C:hover, .btn-Peace-D:hover, .btn-Hope-A:hover, .btn-Hope-B:hover, .btn-Hope-C:hover, .btn-Hope-D:hover, .btn-Faith-A:hover, .btn-Faith-B:hover, .btn-Faith-C:hover, .btn-Faith-D:hover, .btn-Love-A:hover, .btn-Love-B:hover, .btn-Love-C:hover, .btn-Love-D:hover{
  border: yellow 2px solid !important;
}
/*JOY GARDEN BUTTONS*/
.btn-Joy-A{
  transform: rotate(-20deg);
  position: absolute;
  top: 52%;
  bottom: 0%;
  left: 16%;
  right: 10%;
  height: 13%;
  width: 9%;
  background-color: transparent !important;
  border: 0px !important;
}
.btn-Joy-B{
  transform: rotate(-20deg);
  position: absolute;
  top: 39%;
  bottom: 0%;
  left: 13%;
  right: 0%;
  height: 13%;
  width: 9%;
  background-color: transparent !important;
  border: 0px !important;
}
.btn-Joy-C{
  transform: rotate(-20deg);
  position: absolute;
  top: 34%;
  bottom: 0%;
  left: 22%;
  right: 0%;
  height: 13%;
  width: 8%;
  background-color: transparent !important;
  border: 0px !important;
}
.btn-Joy-D{
  transform: rotate(-20deg);
  position: absolute;
  top: 47%;
  bottom: 0%;
  left: 25%;
  right: 0%;
  height: 12%;
  width: 8%;
  background-color: transparent !important;
  border: 0px !important;
}
/*PEACE GARDEN BUTTONS*/
.btn-Peace-A{
  transform: rotate(-20deg);
  position: absolute;
  top: 40%;
  bottom: 0%;
  left: 34%;
  right: 0%;
  height: 13%;
  width: 8%;
  background-color: transparent !important;
  border: 0px !important;
}
.btn-Peace-B{
  transform: rotate(-20deg);
  position: absolute;
  top: 29%;
  bottom: 0%;
  left: 31.5%;
  right: 0%;
  height: 11%;
  width: 8%;
  background-color: transparent !important;
  border: 0px !important;
}
.btn-Peace-C{
  transform: rotate(-20deg);
  position: absolute;
  top: 25%;
  bottom: 0%;
  left: 39%;
  right: 0%;
  height: 11%;
  width: 8%;
  background-color: transparent !important;
  border: 0px !important;
}
.btn-Peace-D{
  transform: rotate(-20deg);
  position: absolute;
  top: 35.5%;
  bottom: 0%;
  left: 42%;
  right: 0%;
  height: 13.5%;
  width: 7.5%;
  background-color: transparent !important;
  border: 0px !important;
}
/*HOPE GARDEN BUTTONS*/
.btn-Hope-A{
  transform: rotate(-20deg);
  position: absolute;
  top: 32.8%;
  bottom: 0%;
  left: 51.8%;
  right: 0%;
  height: 13.8%;
  width: 8%;
  background-color: transparent !important;
  border: 0px !important;
}
.btn-Hope-B{
  transform: rotate(-20deg);
  position: absolute;
  top: 20.3%;
  bottom: 0%;
  left: 48.5%;
  right: 0%;
  height: 13.9%;
  width: 8%;
  background-color: transparent !important;
  border: 0px !important;
}
.btn-Hope-C{
  transform: rotate(-20deg);
  position: absolute;
  top: 16%;
  bottom: 0%;
  left: 56%;
  right: 0%;
  height: 14%;
  width: 7%;
  background-color: transparent !important;
  border: 0px !important;
}
.btn-Hope-D{
  transform: rotate(-20deg);
  position: absolute;
  top: 29%;
  bottom: 0%;
  left: 59.5%;
  right: 0%;
  height: 13.9%;
  width: 6.6%;
  background-color: transparent !important;
  border: 0px !important;
}
/*LOVE GARDEN BUTTONS*/
.btn-Faith-A{
  transform: rotate(-21deg);
  position: absolute;
  top: 25%;
  bottom: 0%;
  left: 67.5%;
  right: 0%;
  height: 13.8%;
  width: 5%;
  background-color: transparent !important;
  border: 0px !important;
}
.btn-Faith-B{
  transform: rotate(-21deg);
  position: absolute;
  top: 12.5%;
  bottom: 0%;
  left: 63.9%;
  right: 0%;
  height: 13.9%;
  width: 5%;
  background-color: transparent !important;
  border: 0px !important;
}
.btn-Faith-C{
  transform: rotate(-21deg);
  position: absolute;
  top: 9.5%;
  bottom: 0%;
  left: 69%;
  right: 0%;
  height: 14%;
  width: 5%;
  background-color: transparent !important;
  border: 0px !important;
}
.btn-Faith-D{
  transform: rotate(-20deg);
  position: absolute;
  top: 21%;
  bottom: 0%;
  left: 72.5%;
  right: 0%;
  height: 16%;
  width: 10%;
  background-color: transparent !important;
  border: 0px !important;
}
/*LOVE GARDEN BUTTONS*/
.btn-Love-A{
  transform: rotate(-22deg);
  position: absolute;
  top: 60%;
  bottom: 0%;
  left: 57.5%;
  right: 0%;
  height: 10.5%;
  width: 8%;
  background-color: transparent !important;
  border: 0px !important;
}
.btn-Love-B{
  transform: rotate(-21deg);
  position: absolute;
  top: 50.5%;
  bottom: 0%;
  left: 55.3%;
  right: 0%;
  height: 10%;
  width: 8.1%;
  background-color: transparent !important;
  border: 0px !important;
}
.btn-Love-C{
  transform: rotate(-21deg);
  position: absolute;
  top: 46%;
  bottom: 0%;
  left: 63%;
  right: 0%;
  height: 10%;
  width: 8%;
  background-color: transparent !important;
  border: 0px !important;
}
.btn-Love-D{
  transform: rotate(-20deg);
  position: absolute;
  top: 55%;
  bottom: 0%;
  left: 65%;
  right: 0%;
  height: 10%;
  width: 9%;
  background-color: transparent !important;
  border: 0px !important;
}
.img-sector{
  position: relative;
}

.Joy-A-block-1-lot-1{
  position: absolute;
  top: 1%;
  bottom: 0%;
  left: 12.5%;
  right: 0%;
  height: 5%;
  width: 2%;
  background-color: transparent !important;
  /* background-color: red !important; */
  border: 2px solid white !important;
}
.Joy-A-block-1-lot-2{
  position: absolute;
  top: 1%;
  bottom: 0%;
  left: 14%;
  right: 0%;
  height: 5%;
  width: 2%;
  background-color: transparent !important;
  /* background-color: red !important; */
  border: 2px solid white !important;
}