/* VIEW LOCATION */
.Joy-A-block-1-lot-1 {
  position: absolute;
  top: 0.8%;
  bottom: 0%;
  left: 12.4%;
  right: 0%;
  height: 4.1%;
  width: 1.8%;
  background-color: transparent !important;
  /* background-color: red !important; */
  border: 3px solid white !important;
}
.Joy-A-block-1-lot-2 {
  position: absolute;
  top: 0.8%;
  bottom: 0%;
  left: 14.3%;
  right: 0%;
  height: 4.1%;
  width: 1.8%;
  background-color: transparent !important;
  /* background-color: red !important; */
  border: 3px solid white !important;
}
.Joy-A-block-1-lot-3 {
  position: absolute;
  top: 4.8%;
  bottom: 0%;
  left: 12.4%;
  right: 0%;
  height: 4.1%;
  width: 1.8%;
  background-color: transparent !important;
  /* background-color: red !important; */
  border: 3px solid white !important;
}
.Joy-A-block-1-lot-4 {
  position: absolute;
  top: 4.8%;
  bottom: 0%;
  left: 14.3%;
  right: 0%;
  height: 4.1%;
  width: 1.8%;
  background-color: transparent !important;
  /* background-color: red !important; */
  border: 3px solid white !important;
}

.Joy-A-block-1-lot-5 {
  position: absolute;
  top: 8.6%;
  bottom: 0%;
  left: 12.4%;
  right: 0%;
  height: 4.1%;
  width: 1.8%;
  background-color: transparent !important;
  /* background-color: red !important; */
  border: 3px solid white !important;
}

.Joy-A-block-1-lot-6 {
  position: absolute;
  top: 8.6%;
  bottom: 0%;
  left: 14.3%;
  right: 0%;
  height: 4.1%;
  width: 1.8%;
  background-color: transparent !important;
  /* background-color: red !important; */
  border: 3px solid white !important;
}

.Joy-A-block-2-lot-1 {
  position: absolute;
  top: 0.8%;
  bottom: 0%;
  left: 16.2%;
  right: 0%;
  height: 4.2%;
  width: 1.8%;
  background-color: transparent !important;
  /* background-color: red !important; */
  border: 3px solid white !important;
}

.Joy-A-block-2-lot-2 {
  position: absolute;
  top: 0.8%;
  bottom: 0%;
  left: 18.1%;
  right: 0%;
  height: 4.1%;
  width: 1.8%;
  background-color: transparent !important;
  /* background-color: red !important; */
  border: 3px solid white !important;
}

.Joy-A-block-2-lot-3 {
  position: absolute;
  top: 4.8%;
  bottom: 0%;
  left: 16.2%;
  right: 0%;
  height: 4.1%;
  width: 1.8%;
  background-color: transparent !important;
  /* background-color: red !important; */
  border: 3px solid white !important;
}

.Joy-A-block-2-lot-4 {
  position: absolute;
  top: 4.8%;
  bottom: 0%;
  left: 18.1%;
  right: 0%;
  height: 4.1%;
  width: 1.8%;
  background-color: transparent !important;
  /* background-color: red !important; */
  border: 3px solid white !important;
}

.Joy-A-block-2-lot-5 {
  position: absolute;
  top: 8.6%;
  bottom: 0%;
  left: 16.2%;
  right: 0%;
  height: 4.1%;
  width: 1.8%;
  background-color: transparent !important;
  /* background-color: red !important; */
  border: 3px solid white !important;
}

/* End of Block 50 */
