/* OCCUPIED LOTS */
.occupied-Joy-A-block-1-lot-1 {
  position: absolute;
  top: 1%;
  bottom: 0%;
  left: 12.5%;
  right: 0%;
  height: 5%;
  width: 2%;
  background-color: #db8812 !important;
  opacity: 0.5;
  /* background-color: red !important; */
  border: 2px solid red !important;
}
.occupied-Joy-A-block-1-lot-2 {
  position: absolute;
  top: 1%;
  bottom: 0%;
  left: 14%;
  right: 0%;
  height: 5%;
  width: 2%;
  background-color: #db8812 !important;
  opacity: 0.5;
  /* background-color: red !important; */
  border: 2px solid red !important;
}
.occupied-Joy-A-block-1-lot-3 {
  position: absolute;
  top: 5.5%;
  bottom: 0%;
  left: 12.5%;
  right: 0%;
  height: 4.6%;
  width: 1.8%;
  background-color: #db8812 !important;
  opacity: 0.5;
  /* background-color: red !important; */
  border: 2px solid red !important;
}
.occupied-Joy-A-block-1-lot-4 {
  position: absolute;
  top: 5.5%;
  bottom: 0%;
  left: 15.5%;
  right: 0%;
  height: 4.6%;
  width: 1.8%;
  background-color: #db8812 !important;
  /* background-color: red !important; */
  border: 2px solid red !important;
}

.occupied.Joy-A-block-1-lot-5 {
  position: absolute;
  top: 5.7%;
  bottom: 0%;
  left: 15.9%;
  right: 0%;
  height: 4.7%;
  width: 1.8%;
  background-color: #db8812 !important;
  /* background-color: red !important; */
  border: 2px solid red !important;
}

/* End of Block 50 */
